body {
  background-color: #1F1F1F;
}

#welcome_text {
  user-select: none;
  color: #1de9b6;
}

#text2 {
  color: #1de9b6;
  user-select: none;
}

#music_page {
  background: #00fa9a;
  border-color: #00fa9a;
  border-radius: 10px;
  width: 100px;
  height: 50px;
}

#cameratest {
  background: #00fa9a;
  border-color: #00fa9a;
  border-radius: 10px;
  width: 100px;
  height: 50px;
}

#nowtime_kakunin {
  background: #00fa9a;
  border-color: #00fa9a;
  border-radius: 10px;
  width: 100px;
  height: 50px;
}

#btn-play {
  background: #00fa9a;
  border-color: #00fa9a;
  color: black;
  border-radius: 10px;
  width: 100px;
  height: 50px;
}

#cookie_test {
  background: #00fa9a;
  border-color: #00fa9a;
  color: black;
  border-radius: 10px;
  width: 100px;
  height: 50px;
}

#youtube_link {
  color: #00fa9a;
}