<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet" />
        <title>nowtime</title>
    </head>

    <body>
        <h1 class="aaa">
            <div id="nowtime_"></div>
        </h1>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="6Lf99H4jAAAAAP7bgkeNOiVvOSQA3iIPzfkZsjAB"></div>
        <br><input type="button" id="return" value="戻るよ" onclick="return_page()">
        <script src="script.js"></script>

    </body>

</html>
